body {
    background-color: rgb(24, 24, 24);
}



h1 {
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
}
.add-task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

#taskInput {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

#features {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

button {
    background-color: rgba(233, 233, 233, 0.027);
    border: 2px solid rgb(54, 40, 255);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 15px;
}

#taskList {
    background-color: rgb(59, 59, 59);
    overflow: auto;
    border-radius: 10px;
    list-style-type: none;
    border: 2px solid blue;
    padding: 10px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: wheat;
    margin: 20px 0;
}

.delete-button {
    float: right;
    border: none;
    border-radius: 3px;
    background-color: rgb(216, 64, 64);
    color: white;
    height: 30px;
}